@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.total-result {
  font-size: 28px;
  color: red;
  text-align: center;
}

.current-score {
  font-size: 50px;
}

.choise {
  padding: 10px;
  text-align: center;
}

.result {
  padding: 10px;
  text-align: center;
}

button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  transition: 0.5s;
}

.pressed {
  scale: 1.2;
}
